@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10%;

}

/* Track */
::-webkit-scrollbar-track {
  background: #F5F5F5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ababab;
  /* border-radius: 10px; */

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #01347b;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* audio::-webkit-media-controls-panel {
  background-color: #E0EDFF;
} */